<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Hasil</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h3>Struk</h3>
        
        <hr>
        <P> Nama Buah :<p th:text="${Buah}"><br>
        <p> Harga : <p th:text="${Harga}"><br>
        <p> Jumlah Buah : <p th:text="${Jumlah}"><br>
        <p> Total Harga :<p th:text="${totalharga}"><br>
        <p> Diskon : <p th:text="${diskon}"><br>
        <p> Total setelah diskon : <p th:text="${Diskon}"><br>
        <p> Tunai : <p th:text="${Tunai}"><br>
        <p> Status : <p th:text="${statustoko}"><br> 
        <p> Kembali : <p th:text="${Kembalian}">
   
            
    </body>
</html>
