<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Hasil</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Struk</div>
        
        <hr>
         Nama Buah :<p th:text="${Buah}"><br>
         Harga Buah : <p th:text="${Harga}"><br>
         Jumlah : <p th:text="${Jumlah}"><br>
         Total : <p th:text="${Total}"><br>
         Diskon :<p th:text="${diskon}"><br>
         Total Belanja : <p th:text="${totalbelanja}">
            
    </body>
</html>
